<h1>Blog List</h1>

<ul ng-if='items.length > 0'>
    <li ng-repeat='item in items'>
        <a ng-href='blog/{{ item.id }}'/>{{ item.title}} {{ item.publishDate}}</a>
    </li>
</ul>

<span ng-if='items.length == 0'> no items </span>